@model PatientManager.Application.Dtos.atencionmedica.PacientesDto

@{
    bool editMode = Model.PacienteID != 0;
    ViewData["Title"] = "Guardar paciente";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editando al paciente: {Model.Nombre} {Model.Apellido}" : "Creando un nuevo paciente")</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Pacientes" asp-action="@(editMode ? "Edit" : "Create")" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Nombre:</label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Apellido" class="form-label">Apellido:</label>
                            <input asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label">Teléfono:</label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Direccion" class="form-label">Dirección:</label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cedula" class="form-label">Cédula:</label>
                            <input asp-for="Cedula" class="form-control" />
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
                            <input asp-for="FechaNacimiento" type="date" class="form-control" />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-check">
                            <input class="form-check-input" asp-for="Fumador" />
                            <label class="form-check-label" asp-for="Fumador">Fumador</label>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Alergias" class="form-label">Alergias:</label>
                            <input asp-for="Alergias" class="form-control" />
                            <span asp-validation-for="Alergias" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="File" class="form-label">Foto:</label>
                            <input asp-for="File" type="file" class="form-control" required="@(editMode ? null : "required")" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="PacienteID" />

                        <button type="submit" class="btn btn-primary">@(editMode ? "Actualizar" : "Crear")</button>
                        <a asp-controller="Pacientes" asp-action="Index" class="btn btn-warning">Volver atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}